body {
    background: #212121;
}

nav {
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
    z-index: 2;
}

section.imgHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(33, 33, 33, 1)), url("../image/cover.jpg");
    background-size: cover; 
    background-position: center;
    width: 100%;
    padding-top: 20%;
}

h1 {
    color: white;
    font-size: 75px;
}

.texte-header, .texte-bloc2 {
    color: white;
}

.android {
    width: 35%;
    margin-right: 4%;
}

.ios {
    width: 35%;
}

.tel-header {
    position: relative;
}

section.fond-noir {
    background: #212121;
    width: 100%;
}

.iphone-side {
    width: 70%;
    position: relative;
    margin-top: 10%;
}

.bord-jaune {
    color: yellow;
    border: solid 1px;
    border-radius: 10px; 
}

.inter-section {
    margin: 0;
}

h2 {
    padding-top: 25%;
}

.marg {
    margin-bottom: 50px;
}

.iphone-ipad {
    width: 80%;
    position: relative;
    padding-top: 18%;
}

.bouton2 {
    background-color: yellow;
    color: black;
    border-radius: 10px; 
}

.bouton-nav {
    background-color: yellow;
    color: black !important;
    border-radius: 10px; 
}
.title-works {
    padding-top: 35%; 
}

.title {
    color: white;
    padding-bottom: 5%;
}

h6.gauche {
    color: yellow;
    text-align: right;
    padding-bottom: 5%;
}

.text-features {
    color: grey;
    font-size: 13px;
    text-align: right;
    padding-bottom: 15%;
}

.features {
    color: yellow;
    text-align: left;
    padding-bottom: 5%;
}

.text-features2 {
    color: grey;
    font-size: 13px;
    text-align: left;
    padding-bottom: 15%;
}

.iphone-features {
    text-align: center;
    width: 50%;
    padding-bottom: 8% !important;
}

.pad-texte {
    padding-top: 10% !important;
}

hr {
    width: 100%;
    height: 1px;
    background-color: yellow;
    border: none; /*on supprime le style par défaut*/
}

.appetizer {
    padding-top: 5% !important;
    padding-bottom: 10%;
    color: white;
    text-align: center;
}

cite {
    color: grey;
    text-align: center;
}

.fond-yellow {
    background: yellow;
    width: 100%;
}

.get-it {
    color: white;
    padding-bottom: 10%;
}

.section-yellow {
    padding-top: 7%;
    padding-bottom: 5%;
}

.h1-yellow {
    padding-top: 5%;
}

.footer-email {
    background: white !important;
    border-radius: 10px !important;
    width: 55% !important;
    padding-left: 15px !important;
}

.h-footer {
    color: grey;
}

.bord-jaune2 {
    color: yellow;
    border: solid 1px;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 40px;
}

footer {
    padding-top: 5%;
}

.copyright {
    text-align: center;
    color: dimgrey;
    padding-bottom: 15%;
}

.logoFooter {
    width: 15%;
    padding-top: 13%;
    margin-right: 25px;
}